@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #303838;
  --color-primary-variant: #1f2a2a;
  --color-secondry: #fde74c;
  --color-white: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0a;
  color: var(--color-white);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a; 
}

::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}

/* Skeleton Loader */
.skeleton-loader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.skeleton {
  background-color: #1e293b; /* slate-800 */
  border-radius: 0.5rem;
  animation: pulse 1.5s infinite ease-in-out alternate;
}

.skeleton-image {
  width: 100%;
  height: 18rem;
}

.skeleton-text {
  height: 20px;
}

.skeleton-title {
  width: 60%;
}

.skeleton-details {
  width: 90%;
  height: 50px;
}

.skeleton-buttons {
  display: flex;
  gap: 1rem;
}

.skeleton-button {
  width: 100px;
  height: 40px;
}

@keyframes pulse {
  0% { background-color: #1e293b; }
  50% { background-color: #334155; }
  100% { background-color: #1e293b; }
}

