@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --color-primary : #303838;
  --color-primary-variant : #1f2a2a;
  --color-secondry : #FDE74C;
  --color-light : rbga(0,0,0,0.5);
  --color-white : white;
  --transition : 0.5s linear;
}
.container{
  height: 100vh;
  padding: 3rem;
}

