@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --color-primary : #303838;
  --color-primary-variant : #1f2a2a;
  --color-secondry : #FDE74C;
  --color-light : rbga(0,0,0,0.3);
  --color-white : white;
  --transition : 0.5s linear;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}
html{
  scroll-behavior: smooth;
}
.container{
  padding: 4rem;
  text-align: center;
  overflow: hidden;
}
.container > p{
  font-weight: 300;
  color: var(--color-light);
  text-transform: capitalize;
}
.container h2{
  font-size: 2rem;
  color: var(--color-secondry);
}
body{
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn{
  background-color: transparent;
  border: 1px solid var(--color-secondry);
  color: var(--color-secondry);
  padding: 0.8rem 1.3rem;
  border-radius: 8px;
  transition: var(--transition);
  cursor: pointer;
}
.btn__primary{
  background-color: var(--color-secondry);
  color: var(--color-primary);
}

.btn:hover{
  background-color: var(--color-white);
  color: var(--color-primary);
  border: none;
  letter-spacing: 1px;
}

::-webkit-scrollbar{
  display: none;
}

/* ==================MEDIA QURIES (MEDIUM DEVICES)=============== */

@media screen and (max-width:1024px){
  .container{
      padding: 3rem;
  }
}

/* ==================MEDIA QURIES (SMALL DEVICES)=============== */

@media screen and (max-width:600px) {
  .container {
      padding: 1rem;
  }
}